* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  padding-top: 50px;
}

#field {
  border: 2px solid #FF1493;
}

.regfield {
  padding-left: 500px;
  padding-top: 50px;
  width: 1000px;
  height: 1000px;
}

.regislation {
  padding-left: 100px;
}

.btns #regbtn, #resetbtn, #retbtn {
  margin-left: 30px;
  width: 50px;
  height: 30px;
}

input:focus {
  background-color: #E3E3E3;
}
