<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EBP_3</display-name>
  
   <!-- <servlet>
    <servlet-name>listOrdersServlet</servlet-name>
    <servlet-class>com.hgd.ebp.controller.listOrdersServlet</servlet-class>
  </servlet> -->
  <!-- <servlet>
    <servlet-name>searchtime</servlet-name>
  <servlet-class>com.hgd.ebp.controller.searchtime</servlet-class>
  </servlet> -->
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.hgd.ebp.controller.OrderServlet</servlet-class>
  </servlet>


 
  

  <!-- <servlet-mapping>
    <servlet-name>listOrdersServlet</servlet-name>
    <url-pattern>/listOrdersServlet</url-pattern>
  </servlet-mapping> -->
  <!-- <servlet-mapping>
    <servlet-name>searchtime</servlet-name>
    <url-pattern>/searchtime</url-pattern>
  </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>